demo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="LabManagerMessages"
    targetNamespace="http://cpc1hn.vn/LabManager/Message/v1"
    elementFormDefault="qualified"
    xmlns="http://cpc1hn.vn/LabManager/Message/v1"
    xmlns:mstns="http://cpc1hn.vn/LabManager/Message/v1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

	<xs:import schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" id="mss" />
	<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" id="msa" schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" />

	<!--Đăng nhập tài khoản-->
	<xs:complexType name=" UserLoginReq">
		<xs:sequence>
			<xs:element name="UserName" type="xs:string" />
			<xs:element name="Password" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name=" UserLoginRes">
		<xs:sequence>
			<xs:element name="RespCode" type="xs:int" />
			<xs:element name="RespText" type="xs:string" />
			<xs:element name="Data" type="mstns:UserLabInfo"/>
			<xs:element name="Token" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name ="UserLabInfo">
		<xs:sequence>
			<xs:element name ="RowID" type="xs:int"/>
			<xs:element name ="UserID" type="xs:string"/>
			<xs:element name ="UserName" type="xs:string"/>
			<xs:element name ="FullName" type="xs:string"/>
			<xs:element name ="Email" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name ="UserLst">
		<xs:sequence>
			<xs:element name ="UserLst" type="mstns:UserLabInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>