GiaSuBK.MD/schemas.microsoft.com.2003.10.Serialization.Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation=".\schemas.microsoft.com.2003.10.Serialization.xsd" />
	<xs:complexType name="ArrayOfguid">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="guid" type="ser:guid" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfguid" nillable="true" type="tns:ArrayOfguid" />
	<xs:complexType name="ArrayOfstring">
		<xs:sequence>
			<xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfstring" type="tns:ArrayOfstring" nillable="true" />
</xs:schema>